#rowpics {
	height: auto;
	display: flex;
}

#rowpics img {
	width: 25%;
	height: 400px;
	object-fit: cover;
}

#mission {
	height: auto;
	margin: 40px 8vw;
}

#mission h2 {
	padding-bottom: 15px;
	font-size: 40px;
}

#mission,
#team h2,
#history {
	text-align: center;
	justify-content: center;
}

#mission p {
	font-size: 22px;
	line-height: 40px;
}

#history,
#team,
#values,
#history h2 {
	margin-bottom: 0px;
	margin-top: 0px;
}

#values {
	background-color: #352762;
	display: flex;
	justify-content: space-evenly;
	color: white;
	height: auto;
}

.value {
	display: flex;
	flex-flow: column;
	width: 33%;
	height: 100%;
	justify-content: center;
	text-align: center;
	padding: 5% 5% 5% 5%;
}

.value-header {
	display: flex;
	flex-flow: row nowrap;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

.value-header img {
	height: 100%;
}

.value-header>h3 {
	margin: auto 10px;
	font-size: 30px;
	font-weight: bold;
}

.value .text-container {
	margin-top: 20px;
	width: 100%;
	word-wrap: break-word;
	height: 50%;
	text-align: center;
}

.value img {
	height: 100%;
}

.value p {
	flex-flow: column;
	line-height: 40px;
	font-size: 20px;
}

.content>p {
	font-size: 22px;
	line-height: 40px;
	color: white;
	background-color: #352762;
	padding: 50px 8vw;
	margin-bottom: 0;
	text-align: center;
}

#team h2 {
	background-color: #768C4A;
	height: 80px;
	justify-content: center;
	color: white;
	height: 80px;
	padding: 20px;
}

#teamblock {
	flex-direction: column;
	margin: 3vw 0;
}

#teamblock,
.member {
	display: flex;
}

.member {
	gap: 40px;
	margin: 0px 40px;
}

.member h2 {
	font-size: 18px;
}

.member img {
	width: 25vw;
	max-width: 375px;
	height: auto;
	margin: auto 0;
}

.member .text-container {
	width: 70vw;
	margin: 30px 0;
}

.member .text-container h3 {
	font-size: 24px;
}

.member .text-container p {
	font-size: 22px;
	line-height: 36px;
}

.member .text-container h3:nth-child(1) {
	font-weight: bold;
}

.member .text-container h3:nth-child(2) {
	font-style: italic;
}

.member h3 {
	font-size: 18px;
	margin-bottom: 0px;
}

.background-fade {
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	width: 100vw;
	max-width: 2100px;
	height: 500px;
	z-index: 2;
}

#history {
	height: 500px;
	color: white;
}

.history-header {
	background-color: #D8AD2A;
	height: auto;
	padding: 20px;
	margin-bottom: 0;
	text-align: center;
	color: white;
}

#history img {
	position: relative;
	width: 100%;
	height: 500px;
	object-fit: cover;
}

#history #history-content {
	height: 500px;
	position: relative;
}

#history-content .text-container {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	word-break: break-all;
	height: 90%;
	width: 80%;
	z-index: 4;
	word-break: break-word;
}

#history-content .text-container p {
	font-size: 25px;
}

.btn,
.newsletter-submit {
	margin-top: 2rem;
	background-color: transparent;
	color: white;
	border: 3px solid white;
	border-radius: 8px;
	font-size: 18px;
	box-shadow: 0px 3px rgba(100, 100, 100, .5);
}

.newsletter {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background-color: rgb(198, 198, 198, .3);
	padding: 3rem;
}

.newsletter h3 {
	margin-bottom: 2rem;
	font-weight: bold;
}

.newsletter-container {
	margin: auto;
	width: 60%;
}

.newsletter-text {
	width: 100%;
	height: 40px;
	padding: 1rem;
	border-width: 1px;
	background-color: rgb(202, 164, 164, .5);
}

.newsletter-submit {
	border: none;
	margin: 0;
	padding: 6px 12px;
	background-color: #768C4A;
}

/* Media Queries */

@media only screen and (max-width: 800px) {
	#rowpics img {
		width: 50%;
		height: 200px;
	}

	#values {
		height: auto;
		padding: 40px 0;
	}

	.member {
		gap: 0;
		margin: 30px 10vw;
	}

	.member img {
		width: 80%;
		max-width: 80%;
		margin: 0 auto;
	}

	.member .text-container {
		width: 100%;
	}

	.member .text-container p {
		text-align: center;
		margin: 0;
	}

	.member .text-container h3 {
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
		font-size: 25px;
	}

	#history {
		height: 600px;
	}

	#history h2,
	#team h2 {
		height: 80px;
		padding: 20px;
	}

	#history #history-content {
		height: 600px;
		position: relative;
	}

	#history img {
		position: relative;
		width: 100%;
		height: 600px;
		object-fit: cover;
	}

	.background-fade {
		height: 600px;
	}

	#rowpics {
		flex-wrap: wrap;
	}

	#rowpics img {
		width: 50%;
		object-fit: cover;
	}

	#values {
		flex-direction: column;
		align-items: center;
	}

	#values>.value {
		width: 100%;
		padding-bottom: 5%;
	}

	.member {
		flex-direction: column;
	}

	.newsletter-container {
		width: 80%;
	}
}

@media only screen and (max-width: 420px) {
	#history {
		height: 950px;
	}

	#history h2 {
		height: 3000px;
		padding: 20px;
	}

	#history #history-content {
		position: relative;
	}

	#history img {
		position: relative;
		width: 100%;
		object-fit: cover;
	}

	.background-fade {
		background-color: rgba(0, 0, 0, .4);
		position: absolute;
		width: 100%;
		z-index: 2;
	}

	#history-content .text-container {
		overflow-y: scroll;
	}

	#history-content .text-container p {
		font-size: 22px;
	}

}

@media only screen and (max-width: 576px) {
	.imgRow {
		display: block;
	}

	#rowpics img {
		width: 100%;
		height: 200px;
	}

	#history h2 {
		height: auto;
		word-break: break-word;
		padding: 20px;
	}

	#history {
		height: 600px;
		position: relative;
	}

	#history img {
		position: relative;
		width: 100%;
		object-fit: cover;
	}

	#history-content .text-container {
		top: 300px;
		font-size: 12px;
	}

}