body {
  font-family: verdana, sans-serif;
}

#rowpics {
	height: 400px;
	background-color: #778b48;
	display: flex;
	flex-flow: row nowrap;
}

#rowpics img {
	width: 25%;
	object-fit: cover;
}

#mission {
	height: 200px;
}

#mission, #team h2, #history, #newsletter {
	text-align: center;
	justify-content: center;
}

#mission button, #newsletter input, #team h2, #history {
	color: white;
}

#mission, #history, #team, #values, #history h2 {
	margin-bottom: 0px;
	margin-top: 0px;
}

#values {
	background-color: #352762;
	display: flex;
	flex-direction: row nowrap;
	justify-content: space-evenly;
	color: white;
	height:300px;
}

.value {
  display: flex;
  flex-flow: column;
  width: 33%;
  height: 100%;
  justify-content: center;
  text-align: center;
  padding: 5% 5% 5% 5%;
}

.value-header {
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.value-header img {
  height: 100%;
}

.value-header h3 {
  margin-top: auto;
  margin-bottom: auto;
}

.value .text-container {
  width: 100%;
  word-wrap: break-word;
  height: 50%;
  text-align: center;
}

.value img {
    height: 100%;
}

.value p {
	flex-flow: column;
}

#team h2 {
	background-color: #768C4A;
  height: 80px;
  justify-content: center;
}

#teamblock, .member {
	display: flex;
}

#teamblock {
	flex-direction: column;
  height: 500px;
  padding: 50px 50px 50px 50px;
}

.member {
	flex-direction: row;
	height: 50%;
}

.member img {
  height: 100%;
}

.member .text-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

#mission button, #history h2 {
	background-color: #D8AD2A;
}

#history {
	height: 600px;
	padding-bottom: 640px;
}
#history div {
	position: relative;
	color: white;
}

#history div img {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

#history div p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn, .newsletter-submit {
	margin-top: 2rem;
	background-color: transparent;
	color: white;
	border: 3px solid white;
	border-radius: 8px;
	font-size: 1.5rem;
	font-size: 18px;
	box-shadow: 0px 3px rgba(100, 100, 100, .5);
}

.newsletter {
  display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background-color: rgb(198, 198, 198, .3);
	padding: 3rem;
}

.newsletter h3 {
	margin-bottom: 2rem;
	font-weight: bold;
}

.newsletter-container {
    margin: auto;
    width: 60%;
}

.newsletter-text {
    width: 100%;
	height: 40px;
	padding: 1rem;
	border-width: 1px;
    background-color: rgb(202, 164, 164, .5);
}

.newsletter-submit {
	border: none;
}

.newsletter-submit {
	margin: 0;
	padding: 6px 12px;
	background-color: #768C4A;
}

/* Media Queries */

@media only screen and (max-width: 850px) {

}