/* contact-us background */

.background-img {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.overlap-text{
	color: white;
	top: 20%;
	margin: auto;
	left: 15%;
	text-align: left;
	height: inherit;
	max-height: 500px;
	overflow-y: auto;
}

.overlap-text h2 {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.overlap-text p {
	font-size: 1.5rem;
}

/* background fade to constrast text */
.background-fade {
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	width: 100%;
	height: 100%;
}

/* contact-us */
.contact-us {
	background-color: #352762;
	color: white;
	padding: 40px 10vw;
}

.contact-us p {
	font-size: 22px;
}

.contact-us h2 {
	font-size: 40px;
}

.form-container {
	background-color: #F0F0F0;
	padding: 2rem;
	/* margin: 40px 20px; */
	width: 60%;
	margin: 50px 20vw;
}

/* form input */
.form-container input, .form-container select {
	width: 400px;
	max-width: 100%;
}

.form-group button {
	width: 100px;
	height: 45px;
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid #333333;
	background-color: #F0F0F0;
	color: #333333;
}

.form-group button:hover {
	background-color: #333333;
	color: #F0F0F0;
}



#fcomment {
	width: 600px;
	max-width: 100%;
	resize: none;
	height: 25vh;
}

#fcontact {
	width: fit-content;
}

/* success message pop up */
#success-message {
	font-size: 400px;
	border: 2px black solid;
	width: fit-content;
	padding: 5px;
}

/* Media Queries */

@media only screen and (max-width: 800px) {	
	.donate-body p {
		margin: 0px 0px 5px;
	}

	.overlap-text {
		height: 600px;
		top: 10%;
	}

	.overlap-text h2 {
		font-size: 35px;
	}

	head, body, html {
		font-size: 12px;
	}

	.form-container {
		width: 90vw;
		margin: 20px 5vw;
	}

	.form-container input, .form-container select, #fcomment {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {

	.overlap-text {
		margin: 0;
		max-height: 80%;
		overflow-y: auto;
	}
}