.title-container {
	width: 100%;
	max-width: 2100px;
	display: block;
	text-align: center;
	background-color: #352762;
}

.title-container img {
	height: 600px;
	max-height: 80vh;
	max-width: 100%;
	height: 100%;
	width: 100%;
	object-fit: cover;
	margin: 0 auto;
}

.imgRow {
	font-size: 0;
	/* flex-flow: row nowrap; */
	/* max-width: 10%; */
	/* height: 200px; */
}

.imgRow img {
	object-fit: cover;
	width: 25%;
	height: 400px;
}

.Volunteer {
	text-align: center;
	padding: 40px 10vw;
	background: #352762;
	color: white;
}

.Volunteer p {
	margin: 1rem auto;
	font-size: 22px;
	max-width: 1000px;
}

.Volunteer h2 {
	font-size: 40px;
}

.Volunteer button {
	color: white;
	background-color: #352762;
	border: 2px solid white;
	margin-top: 1rem;
}

.Volunteer button:hover {
	color: #352762;
}

.btn {
	padding: 5px 20px;
}

.project-header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #778b48;
	color: white;
	/* height: 100px; */
	padding: 1.5rem;
}

.project {
	display: flex;
	justify-content: left;
	flex-direction: row-reverse;
	width: 1200px;
	max-width: 80vw;
	gap: 40px;
	margin: 40px auto;
}

.project-inner {
	width: 25vw;
	max-width: 375px;
	height: auto;
	object-fit: cover;
}

.contentProj1 {
	width: 70vw;
	margin: 30px 0;
}

.contentProj1 * {
	width: 100%;
}

.desProj1 {
	flex: 1;
	padding-top: 10px;
	margin-right: 15vw;
}

.desProj1 p {
	font-size: 20px;
}

.Donate {
	text-align: center;
	padding: 40px 10vw;
	background: #D8AD2A;
	color: white;
	/* height: auto; */
}

.Donate h2 {
	font-size: 40px;
}

.Donate p {
	margin-top: 1rem;
	font-size: 22px;
}

.Donate button {
	color: white;
	border: 2px solid white;
	background-color: transparent;
	cursor: pointer;
	margin-top: 1rem;
}

.Donate button:hover {
	background-color: white;
	color: #D8AD2A;
}

.newsletter {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background-color: rgb(198, 198, 198, .3);
	padding: 3rem;
}

.newsletter h3 {
	margin-bottom: 1rem;
	font-weight: bold;
}

.newsletter-container {
	margin: auto;
	width: 60%;
}

.newsletter-text {
	width: 100%;
	height: 40px;
	padding: 1rem;
	border-width: 1px;
	background-color: rgb(202, 164, 164, .5);
}

/* Media Queries */

@media screen and (min-width: 1000px) {

	.title-container img {
		max-width: 1000px;
		height: auto;
		margin: 0 auto;
	}
	
}

@media screen and (max-width: 768px) {

	.imgRow img {
		width: 50%;
		height: 200px;
	}

	.project {
		display: block;
		width: 100%;
	}

	.project-inner, .contentProj1 {
		display: block;
		width: 70vw;
		margin: 30px auto;
	}

	.contentProj1 * {
		text-align: center;
	}
}

@media only screen and (max-width: 576px) {
	.imgRow {
		display: block;
	}

	.imgRow img {
		width: 100%;
		height: 150px;
	}

}