* {
	font-family: Verdana;
	margin: 0;
}

.head {
	height: 70px;
	width: 100%;
}

.head * {
	display: inline-block;
	padding: 10px 8px 0px;
	vertical-align: text-top;
	font-size: 30px;
}

.links {
	display: block;
	height: 50px;
	font-size: 0px;
}

.links a:nth-child(-n+5) {
	position: relative;
	top: 10px;
	padding: 15px;
	font-size: 20px;
	color: black;
	transition: 0.3s;
	font-size: 20px;
}

.links a:nth-child(n+6) * {
	height: 40px;
	margin: 0px 25px 0px 0px;
	float: right;
	border-radius: 8px;
	background: #778b48;
	font-size: 20px;
	color: white;
}

.links a:hover {
	text-decoration: none;
	color: white;
	background: #778b48;
}

/* Header above */

.row {
	display: flex;
	flex-flow: row nowrap;
}

.row img {
	max-width: 25%;
	padding: 5px;
}








/* Footer below */

footer {
	background: #352762;
	display: block;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	color: white;
	padding: 30px 30px 100px;
}

.address, .contact {
	width: 20vw;
	height: 70%;
	margin: 10px;
}

.contact {
	width: 30vw;
}

.filler {
	width: 10vw;
}