@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');

html {
	width: 100%;
	margin: 0 auto;
	background: #778b48;
	overflow-y: overlay;
}

* {
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	margin: 0;
}

.btn {
	color: white;
	border-radius: 8px;
	font-size: 18px;
	box-shadow: 0px 3px rgba(100, 100, 100, .5);
}

.btn:hover {
	background-color: white;
	color: transparent;
}

.overlap-text .btn:hover {
	color: rgb(53, 53, 53);
}

.newsletter-submit {
	margin: 0;
	padding: 6px 52px;
	border: 2px solid #768C4A;
	background-color: #768C4A;
}

.newsletter-submit:hover {
	background-color: white;
	color: #768C4A;
	cursor: pointer;
}

.carousel-indicators li:hover {
	cursor: pointer;
}

/* Header Styling */

.head {
	height: 80px;
	width: 100%;
	padding: 0 12px;
	display: flex;
	align-items: center;
	gap: 12px;
}

.head p {
	font-size: 35px;
	margin: 0;
}

.head img {
	width: 60px;
}

.links {
	display: block;
	height: 50px;
	font-size: 0px;
	color: white;
}

.links a {
	position: relative;
	top: 8px;
	padding: 15px;
	font-size: 20px;
	transition: 0.3s;
	font-size: 20px;
	z-index: 0;
}

.links a:not(.current) {
	color: black;
}

.links .current {
	color: white;
	background: #778b48;
}

.links button {
	height: 40px;
	margin: 0px 25px 0px 0px;
	padding: 0px 10px;
	float: right;
	border: 2px solid #778b48;
	border-radius: 8px;
	background: #778b48;
	font-size: 20px;
	color: white;
	cursor: pointer;
	text-align: start;
}

.links button:hover {
	color: #778b48;
	background-color: white;
}

.links img {
	height: 40px;
	margin: 0px 35px 0px 0px;
	float: right;
	font-size: 20px;
	color: white;
	cursor: pointer;
	border-radius: 8px;
	background: white;
	transition-property: color, background-color, border-color, box-shadow;
	transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
	transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	transition-delay: 0s, 0s, 0s, 0s;
}

.links img:hover {
	background-color: rgb(201, 200, 200);
}

.links a:hover {
	text-decoration: none;
	color: white;
	background: #778b48;
}

/* Footer Styling */

footer {
	background: #352762;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: white;
	padding: 30px;
}

.address,
.contact {
	width: 30vw;
	height: 70%;
	margin: 10px 0px 10px 10px;
}

.address img {
	height: auto;
	width: 50px;
}

.address a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 10px;
	transition-property: color, background-color, border-color, box-shadow;
	transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
	transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	transition-delay: 0s, 0s, 0s, 0s;
}

.address a:hover {
	background-color: white;
	color: #352762;
}

.contact {
	width: 30vw;
}

.contact p {
	font-size: 25px;
	margin-bottom: 1rem;
}

.contact a {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.contact a:hover {
	text-decoration: underline;
}

.filler {
	width: 10vw;
}

.webimpactuw {
	background: #352762;
	display: block;
	height: 60px;
	text-align: center;
}

.webimpactuw p {
	background: #634ab5;
	font-size: 20px;
	color: white;
	padding: 7px;
	margin: auto;
	width: 40%;
	min-width: 400px;
	max-width: 1000px;
	border: 8px outset #826ec4;
	display: inline-block;
}

.webimpactuw p a {
	font-size: inherit;
	color: white;
	text-decoration: none;
}

.webimpactuw p a:hover {
	text-decoration: underline;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
	.newsletter-container {
		width: 80%;
	}
}

@media only screen and (max-width: 875px) {
	.address a {
		display: block;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 800px) {

	.links a {
		display: block;
		text-align: center;
		width: 100%;
		margin: auto;
	}

	.links img {
		height: 40px;
		padding: 0px 18vw;
		margin: 20px 5vw;
		border: 3px outset grey;
		border-radius: 8px;
		/*background: #778b48;*/
	}

	.links button {
		width: 45%;
		margin: 20px 0px;
	}

	.links {
		height: 380px;
	}

	.newsletter-container {
		width: 100%;
	}

	.newsletter-submit {
		width: 100%;
	}

	footer {
		display: block;
	}

	.address,
	.contact {
		display: block;
		width: 50%;
		text-align: left;
		margin-left: 30vw;
		margin-bottom: 20px;
	}

	.address p,
	.contact p {
		display: block;
		margin-bottom: 20px;
		margin-right: 20px;
	}

	.address a {
		display: inline;
		margin-left: 10px;
	}

	.filler {
		height: 10px;
	}
}

@media only screen and (max-width: 520px) {

	.head img {
		width: 60px;
		height: 60px;
		object-fit: contain;
	}

	.head p {
		height: 70px;
		word-break: break-word;
		width: 60vw;
		line-height: 2rem;
		font-size: 35px;
		text-align: center;
	}

	.links {
		height: 440px;
	}

	.links img {
		display: block;
		float: none;
		width: 80%;
		object-fit: contain;
		margin: 20px 10vw;
	}

	.links button {
		display: block;
		float: none;
		width: 80vw;
		margin: 0vw 10vw;
		text-align: center;
	}

	.address,
	.contact {
		width: 80%;
		margin-left: 10vw;
	}

	.webimpactuw p {
		min-width: 10px;
		width: 90vw;
		padding: 5px 0px;
		overflow-wrap: break-word;
		overflow: hidden;
	}

	.webimpactuw {
		height: auto;
		min-width: 10px;
		overflow: hidden;
	}

	html,
	body {
		overflow-x: hidden;
	}

}

@media only screen and (max-width: 300px) {
	.head p {
		font-size: 30px;
	}
}