@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

* {
	font-family: 'Fira Sans', sans-serif;
	font-size: 15px;
	margin: 0;
}

/* Header Styling */

.head {
	height: 80px;
	width: 100%;
}

.head * {
	display: inline-block;
	padding: 12px 0px 0px;
	vertical-align: text-top;
	font-size: 35px;
}

.head img {
	display: inline-block;
	height: 90%;
	padding: 10px 10px 0px;
}

.links {
	display: block;
	height: 50px;
	font-size: 0px;
	color: white;
}

.links a {
	position: relative;
	top: 10px;
	padding: 15px;
	font-size: 20px;
	transition: 0.3s;
	font-size: 20px;
}

.links a:not(.current) {
	color: black;
}

.links .current {
	color: white;
	background: #778b48;
}

.links button {
	height: 40px;
	margin: 0px 25px 0px 0px;
	float: right;
	border-radius: 8px;
	background: #778b48;
	font-size: 20px;
	color: white;
  	cursor: pointer;
}

.links img {	
	height: 40px;
	margin: 0px 25px 0px 0px;
	float: right;
	font-size: 20px;
	color: white;
  	cursor: pointer;
}

.links a:hover {
	text-decoration: none;
	color: white;
	background: #778b48;
}

/* Footer Styling */

footer {
	background: #352762;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: white;
	padding: 30px;
}

.address, .contact {
	width: 20vw;
	height: 70%;
	margin: 10px;
}

.contact {
	width: 30vw;
}

.filler {
	width: 10vw;
}

/* Media Queries */

@media only screen and (max-width: 850px) {
  .links a {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .links img {
  	margin: 20px 20vw;
  }

  .links button {
  	width: 45%;
  	margin: 20px 0px;
  }

  .links {
  	height: 360px;
  }

  footer {
  	display: block;
  }

  .address, .contact {
  	display: block;
  	width: 100vw;
  }

  .address p, .contact p {
  	display: block;
  	margin-bottom: 20px;
  	margin-right: 20px;
  }

  .filler {
  	height: 10px;
  }

  html {
  	overflow-x: hidden;
  }
}