@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');

html {
   width: 100vw;
   margin: 0 auto;
   background: #778b48;
   overflow-y: overlay;
}

* {
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	margin: 0;
}

/* Header Styling */

.head {
	height: 80px;
	width: 100%;
}

.head * {
	display: inline-block;
	height: 60px;
	margin: 10px 0px;
	padding: 0;
	vertical-align: text-top;
	font-size: 35px;
}

.head img {
	width: auto;
	margin: 10px 10px;
}

.links {
	display: block;
	height: 50px;
	font-size: 0px;
	color: white;
}

.links a {
	position: relative;
	top: 10px;
	padding: 15px;
	font-size: 20px;
	transition: 0.3s;
	font-size: 20px;
}

.links a:not(.current) {
	color: black;
}

.links .current {
	color: white;
	background: #778b48;
}

.links button {
	height: 40px;
	margin: 0px 25px 0px 0px;
	float: right;
	border-color: grey;
	border-width: 4px;
	border-radius: 8px;
	background: #778b48;
	font-size: 20px;
	color: white;
  	cursor: pointer;
}

.links button:active {
	border-color: black;
}

.links img {	
	height: 40px;
	margin: 0px 35px 0px 0px;
	float: right;
	font-size: 20px;
	color: white;
  cursor: pointer;
}

.links a:hover {
	text-decoration: none;
	color: white;
	background: #778b48;
}

/* Footer Styling */

footer {
	background: #352762;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: white;
	padding: 30px;
}

.address, .contact {
	width: 20vw;
	height: 70%;
	margin: 10px;
}

.address img {
	height: 50px;
	width: 50px;
}

.address a {
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
}

.address a:hover {
	background-color: white;
	color: #352762;
}

.contact {
	width: 30vw;
}

.filler {
	width: 10vw;
}

.dubvelopers {	
	background: #352762;
	display: block;
	height: 60px;
	text-align: center;
}

.dubvelopers p {
	background: #634ab5;
	font-size: 20px;
	color: white;
	padding: 7px;
	margin: auto;
	width: 40%;
	min-width: 400px;
	max-width: 1000px;
	border: 8px outset #826ec4;
	display: inline-block;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
	.newsletter-container {
		width: 80%;
	}
}

@media only screen and (max-width: 768px) {

  .links a {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .links img {
  	height: 40px;
  	padding: 0px 13vw;
  	margin: 20px 7vw;
  	border: 3px outset grey;
	border-radius: 8px;
	/*background: #778b48;*/
  }

  .links button {
  	width: 45%;
  	margin: 20px 0px;
  }

  .links {
  	height: 380px;
  } 

	.newsletter-container {
		width: 100%;
	}

	.newsletter-submit {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {

  footer {
  	display: block;
  }

  .address, .contact {
  	display: block;
  	width: 100%;
  }

  .address p, .contact p {
  	display: block;
  	margin-bottom: 20px;
  	margin-right: 20px;
  }

  .filler {
  	height: 10px;
  }
}

@media only screen and (max-width: 420px) {

	.head img {
		width: 60px;
		height: 60px;
		object-fit: contain;
	}

	.head p {
		height: 70px;
		word-break: break-word;
		width: 60vw;
		line-height: 2rem;
		font-size: 35px;
		text-align: center;
	}

  .links {
  	height: 440px;
  }

  .links img {
    display: block;
    float: none;
    width: 80%;
    object-fit: contain;
    margin: 20px 10vw;
  }

  .links button {
    display: block;
    float: none;
    width: 80vw;
    margin: 0vw 10vw;
  }

	.dubvelopers p {
		min-width: 10px;
		width: 90vw;
		padding: 5px 0px;
		overflow-wrap: break-word;
		overflow: hidden;
	}

	.dubvelopers {
		height: auto;
		min-width: 10px;
		overflow: hidden;
	}

  html, body {
  	overflow-x: hidden;
  } 

}

@media only screen and (max-width: 300px) {
	.head p {
		font-size: 30px;
	}
}