/* Donate Popup */

.donate-body {
  width: 400px;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
  min-width: 20vh;
  overflow-y: auto;
}

.donate-body.popup {
  transform: translate(-50%, -50%) scale(1);
}
	
.donate-mid {
	margin: 8%;
	height: auto;
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

.donate-mid p:not(.donate-head) {
	font-size: 16px;
	line-height: 1.3;
}

.donate-head {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}

.donate-body .num {
	width: 48%;
	height: 40px;
	margin: 5px 0px;
	background: #352762;
	border-radius: 5px;
	color: white;
  cursor: pointer;
}

.amounts {
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.donate-field p {
	display: inline-block;
	font-size: 300px;
}

.dollar {
	position: absolute;
	left: 10px;
	padding: 10px 5px;
}

.donate-input {
	display: inline-block;
	font-size: 16px;
	background: lightgrey;
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 5px;
}

.donate-check {
	background: #778b48;
	color: white;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
  border: 2px outset grey;
	border-radius: 5px;
	padding: 7px 10px;
  cursor: pointer;
  text-align: center;
}

/* Cart Popup */

.sidebar.opened {
	width: 350px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transition: 0.3s;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: content-box;
}

.sidebar .close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.empty {
	margin: 40vh 0;
	font-style: italic;
	width: 100%;
	text-align: center;
}

.cart-head {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	margin: 1.5rem 1.5rem 0;
	display: inline-block;
}

.cart-mid {
	margin: 0px 15px;
	width: 310px;
	height: auto;
	font-size: 16px;
}

.cart-item {
	font-size: 18px;
	height: 125px;
	width: inherit;
	margin-top: 15px;
	text-align: left;
}

.cart-item img {
	display: inline-block;
	width: 120px;
	height: 120px;
	object-fit: cover;
	vertical-align: top;
}

.cart-item .right {
	display: inline-block;
	width: 180px;
	height: 120px;
}

.cart-item .right * {
	padding: 0px 5px;
}

.cart-item .item-name {
	font-weight: bold;
	height: 25px;
	width: inherit;
	margin: 0;
}

.cart-item .item-desc {
	color: grey;
	height: 65px;
	width: inherit;
	margin: 0;
}

.cart-item .cart-row {
	height: 30px;
	width: inherit;
}

.cart-item span:hover {
	cursor: pointer;
	background: lightgrey;
}

.cart-item .edit * {
	display: inline-block;
	padding: 0px 9px;
	font-size: 16px;
}

.cart-item .edit {
	display: inline-block;
	border: 2px solid grey;
	width: auto;
	max-width: 95px;
	height: 28px;
	padding: 0;
	user-select: none;
}

.cart-item .edit p {
	width: 35px;
	text-align: center;
	padding: 0;
}

.cart-item .item-remove {
	font-weight: bold;
	color: red;
	padding: 2px 7px;
	float: right;
	border-radius: 10px;
}

.cart-item .item-remove:hover {
	font-weight: bold;
	background: red;
	color: white;
}

.total * {
	font-size: 20px;
	display: inline-block;
	height: 40px;
	width: 80px;
	padding: 10px 10px 0;
	float: right;
}

.total h4 {
	float: left;
	margin: 5px 0 0;
}

#cart-total {
}

.cart-footer * {
	display: block;
	width: 80%;
	padding: 2px;
	margin: 10px auto;
	font-size: 20px;
}

#cart-submit {
	background: red;
	color: white;
	width: 320px;
	margin: 0px 15px;
	border-width: 0px;
	border-radius: 10px;
	box-shadow: 0px 3px rgba(100, 100, 100, .5);
	padding: 5px 0px;
  cursor: pointer;
  font-size: 20px;
}

/* General Popup Styling */

.popup-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 250ms ease-in-out;
  z-index: 10;
  background-color: white;
}

.close-button {
  cursor: pointer;
  background: none;
  color: red;
  float: right;
  border: none;
  font-size: 30px;
  height: 50px;
  padding: 0 15px;
  font-weight: bold;
  border-radius: 10px;
}

.close-button:hover {
  color: white;
  background: red;
}

#overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  opacity: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, .6);
  pointer-events: none;
}

#overlay.popup {
  opacity: 1;
  pointer-events: all;
}

.hide {
	display: none;
}

/*body::-webkit-scrollbar-thumb {
	width: 1em;
}*/


@media screen and (max-width: 800px) {
	.donate-body p {
		margin: 0px 0px 5px;
	}

}