* {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	margin: 0;
}

.head {
	height: 70px;
	width: 100%;
}

.head * {
	display: inline-block;
	padding: 10px 8px 0px;
	vertical-align: text-top;
	font-size: 35px;
}

.links {
	display: block;
	height: 50px;
	font-size: 0px;
}

.links a:nth-child(-n+5) {
	position: relative;
	top: 10px;
	padding: 15px;
	font-size: 20px;
	color: black;
	transition: 0.3s;
	font-size: 20px;
}

.links a:nth-child(n+6) * {
	height: 40px;
	margin: 0px 25px 0px 0px;
	float: right;
	border-radius: 8px;
	background: #778b48;
	font-size: 20px;
	color: white;
  	cursor: pointer;
}

.links a:hover {
	text-decoration: none;
	color: white;
	background: #778b48;
}

/* Header above */

.pic {
	width: 100%;
	height: 75vh;
	object-fit: cover;
}

.mission-statement {
	background-color: #352762;
	color: white;
	padding: 3rem;
}

.pictures {
	height: 400px;
	background-color: #778b48;
	display: flex;
}

.pictures img {
	width: 25%;
	object-fit: cover;
}

.order {
	background-color: #D8AD2A;
	color: white;
}

.order h2 {
    padding: 1.5rem;
}

.order img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.place-order {
	padding: 3rem;
}

.support h2 {
	background-color: #768C4A;
    padding: 1.5rem;
	color: white;
}

.item {
    display: flex;
	padding: 1rem;
	justify-content: center;
	gap: 3vw;

}

.item-image {
	width: 30%;
	flex-grow: .5;
}

.newsletter {
    display: flex;
	flex-direction: column;
	gap: 2rem;
	background-color: #C6C6C6;
	padding: 3rem;
}

.newsletter-container {
    margin: auto;
    width: 60%;
}

.newsletter-text {
    width: 100%;
	height: 40px;
	padding: 1rem;
    background-color: rgb(202, 164, 164, .5);
}

/* Footer below */

footer {
	background: #352762;
	display: block;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: white;
	padding: 30px 30px 100px;
}

.address, .contact {
	width: 20vw;
	height: 70%;
	margin: 10px;
}

.contact {
	width: 30vw;
}

.filler {
	width: 10vw;
}

/* Popup Menu */

.donate {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 250ms ease-in-out;
  z-index: 10;
  background-color: white;
  width: 400px;
  max-width: 80vw;
  height: 500px;
  max-height: 80vh;
}

.donate.active {
  transform: translate(-50%, -50%) scale(1);
}

.close-button {
  cursor: pointer;
  background: none;
  color: red;
  float: right;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}
	
.middle {
	margin: 10%;
	height: auto;
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

.middle p:not(.popup-head) {
	font-size: 16px;
	line-height: 1.2;
}

.popup-head {
	font-weight: 900;
	font-size: 19px;
}

.donate-body .num {
	width: 48%;
	height: 40px;
	margin: 5px 0px;
	background: #352762;
	border-radius: 5px;
	color: white;
  	cursor: pointer;
}

.amounts {
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.donate-body input {
	background: lightgrey;
	height: 40px;
	width: 100%;
}

.donate-submit {
	background: #778b48;
	color: white;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 5px 10px;
  	cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  opacity: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}