p {
	margin: 0;
}

.header {
	font-size: large;
	font-weight: bold;
}

.option {
	width: 25vw;
	height: 100%;
}

/* .shop-image {
	margin-left: 25%;
} */

.column {
	text-align: left;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: space-between;
}

.top-image-text {
    position: relative;
    text-align: left;
	background-image: url("../img/temp_veg2.jpg");
    position: relative;
	width:100%;
	height: 70vh;
}

.text {
	color:white;
    padding-left: 25vh;
	padding-top: 25vh;
    /* transform: translate(-175%, -175%); */
}

.support-options {
	text-align: center;
}

.center-support {
	margin-left: 25%;
}

.banner {
	padding: 2vh;
	color: white;
	/* text-align: center; */
}

.clickable-banner {
	border: none;
	text-align: left;
	color: white;
	padding: 1vh;
	padding-right: 10px;
	padding-left: 10px;
}

.yellow {
	background-color: #D8AD2A;
}

.green {
	background-color: #768C4A;
}

.purple {
	background-color: #352762;
}

.red-button {
	background-color: red;
	width: fit-content;
	border: none;
}

.fresh-sheet {
	height: 600px;
	overflow: auto;
}

.fresh-sheet img {
	width: 100%;
	height: auto;
	overflow: scroll;
}

.newsletter {
    display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background-color: rgb(198, 198, 198, .3);
	padding: 3rem;
}

.newsletter h3 {
	margin-bottom: 2rem;
	font-weight: bold;
}

.newsletter-container {
    margin: auto;
    width: 60%;
}

.newsletter-text {
    width: 100%;
	height: 40px;
	padding: 1rem;
	border-width: 1px;
    background-color: rgb(202, 164, 164, .5);
}

.newsletter-submit {
	border: none;
}

.newsletter-submit {
	margin: 0;
	padding: 6px 12px;
	background-color: #768C4A;
}

/* Media Queries */

@media only screen and (max-width: 850px) {
	.item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.option {
		width: 50vw;
		height: 100%;
	}	
}
