/* fade background */
.background-fade {
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	width: 100%;
	height: 100%;	
}

/* Text overlay */
.overlap-text{
	color: white;
	top: 25%;
	left: 10%;
	text-align: left;
	height: fit-content;
}

.description {
	text-align: left;
	margin-top: 20px;
}

.overlap-text h2 {
	font-size: 3rem;
}

.overlap-text p {
	font-size: 1.5rem;
}

.fresh-desc {
	font-size: 18px;
}

.btn, .newsletter-submit {
	margin-top: 2rem;
	background-color: transparent;
	color: white;
	border: 3px solid white;
	border-radius: 8px;
	font-size: 18px;
	box-shadow: 0px 3px rgba(100, 100, 100, .5);
}

.item {
    display: flex;
	/* padding: 1rem; */
	justify-content: left;
	gap: 3vw;
	height: fit-content;
	margin: 5vh 5vw;
}

.item {
    display: flex;
	/* padding: 1rem; */
	justify-content: left;
	gap: 3vw;
	height: fit-content;
	margin: 5vh 5vw;
}

.item-image {
	width: 500px;
	max-width: 100%;
}

.item-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* carousel pictures */
.pic {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

/* carousel indicators */
.carousel-indicators li {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	margin: 0px 7px;
}

/* ------------------ */

p {
	margin: 0;
}

.option {
	width: 350px;
	height: 100%;
}

/* .shop-image {
	margin-left: 25%;
} */

.column {
	text-align: left;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: space-between;
}

.top-image-text {
    position: relative;
    text-align: left;
	background-image: url("../img/temp_veg2.jpg");
    position: relative;
	width:100%;
	height: 70vh;
}

.text {
	color:white;
    padding-left: 25vh;
	padding-top: 25vh;
    /* transform: translate(-175%, -175%); */
}

.support-options {
	text-align: center;
}

.center-support {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.banner {
	padding: 1.5rem;
	color: white;
	/* text-align: center; */
}

.clickable-banner div{
	border: none;
	text-align: left;
	color: white;
	width: 100%;
	padding: 1vh;
	padding-right: 10px;
	padding-left: 10px;
  	cursor: pointer;
}

.yellow {
	background-color: #D8AD2A;
}

.green {
	background-color: #768C4A;
}

.purple {
	background-color: #352762;
}

.red-button {
	background-color: red;
	width: fit-content;
	border: none;
}

.fresh-sheet {
	height: 600px; 
	overflow: auto;
}

.fresh-sheet img {
	width: 100%;
	height: auto;
	overflow: scroll;
}

.newsletter {
    display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background-color: rgb(198, 198, 198, .3);
	padding: 3rem;
}

.newsletter h3 {
	margin-bottom: 2rem;
	font-weight: bold;
}

.newsletter-container {
    margin: auto;
    width: 60%;
}

.newsletter-text {
    width: 100%;
	height: 40px;
	padding: 1rem;
	border-width: 1px;
    background-color: rgb(202, 164, 164, .5);
}

.newsletter-submit {
	border: none;
}

.newsletter-submit {
	margin: 0;
	padding: 6px 12px;
	background-color: #768C4A;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
	.item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.item-content {
		align-items: center;
	}

	.item-content img {
		width: 100%;
	}

	.option {
		width: 400px;
		height: 100%;
	}	

	.center-support {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.fresh-sheet {
		height: 400px; 
		overflow: auto;
	}

}